<ul>
  <li *ngFor="let todo of todoList; let index = index;">
    <input type="checkbox" (click)="doCheck(index)" [checked]="todo.isCompleted">
    <span *ngIf="!todo.isEdit" (click)="editStart(index)" [class.completed]="todo.isCompleted">{{todo.todo}}</span>
    <input #editTodo *ngIf="todo.isEdit" type="text" value="{{todo.todo}}" (blur)="updateByBlur(index, editTodo.value)" (keypress)="updateByEnter(index, editTodo.value, $event)">
    <button type="button" (click)="delete(index)">delete</button>
    <select #moveTodo type="select" (blur)="move(index, moveTodo.value)">      
      <option>移動</option>
      <option value="daily">今日中</option>
      <option value="weekly">今週中</option>
      <option value="monthly">今月中</option>
      <option value="noLimit">無期限</option>
    </select>
  </li>
  <li>
    <button *ngIf="!isHidden" #addBtn type="button" (click)="addStart()">＋</button>
    <input *ngIf="isHidden" #addTodo type="text" (blur)="addByBlur(addTodo, true)" (keypress)="addByEnter(addTodo, $event)">
  </li>
</ul>