<ul class="todo">
  <li>
    <button type="button" (click)="select('daily')" [class.selected]="selected['daily']">今日中</button>
  </li>
  <li>
    <button type="button" (click)="select('weekly')" [class.selected]="selected['weekly']">今週中</button>
  </li>
  <li>
    <button type="button" (click)="select('monthly')" [class.selected]="selected['monthly']">今月中</button>
  </li>
  <li>
    <button type="button" (click)="select('noLimit')" [class.selected]="selected['noLimit']">無期限</button>
  </li> 
</ul>
<app-list [target]="selectedList"></app-list>

<!-- 開発時に使用 -->
<!-- <button type="button" (click)="clear()">clear</button> -->

